body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}
.container {
    width: 80%;
    margin: auto;
}
h1 {
    font-size: 2em;
    margin-top: 20px;
}
.search-bar {
    margin: 20px 0;
}
input {
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.search-button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.filter-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid red;
    background: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 3px;
}
.movies {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.movie-card {
    background-color: #dfffa0;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: black;
    border: 2px solid red;
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
}

