body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

figure {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
}

button {
  background-color: bisque;
  color: red;
  border: none;
  padding: 12px;
}
